@{
    ViewBag.Title = "Home Page";
}



<div class="row">
    <div class="col-md-4">
        <h2>Bine ai venit</h2>
        <p>
            Pe aceasta platforma poti gasi suplimente de la toate firmele de renume disponibile pe piata !
        </p>
    </div>
    <div class="col-md-4">
        <h2>Inregistreaza-te pentru a putea comanda cu usurinta !</h2>
        
    </div>
    
</div>